body {
  /*padding: 50px;*/
  font-size: 16px;
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  background-color: #f9f9f9;
  /*overflow: hidden;*/
}

.logobg{
    background-color: rgb(34,34,34);
    height: 50px;
    color: #ffffff;
    line-height: 50px;
}
.logobg .spanT{
    margin-left: 100px;
    font-size: 30px;
}
.logobg .spanP{
    margin-left: 50px;
    font-size: 20px;
}
.panel50{
    height: 60px;
    line-height: 55px;
    padding-left: 10px;
    border:1px solid #eee
}
.font15{
    font-size: 14px;
}
.fs13{
    font-size: 13px;
}
.pd10{
    padding:6px 0;
}
.mp0{
    margin: 0;
    padding: 0;
}
.fl{
    float:left;
    margin:5px 2px;
    padding:2px;
}
.mt15{
    margin-top: 15px;
}
.navMenu a {
  color: #fff;
}
.navMenu li a:hover,.navMenu li a:focus,.action a{
    color: #38444d;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.action {
    background-color: #f9f9f9;
    border-radius: 5px 5px 0 0;
}
.titleHead{
    font-size: 18px;
    height: 35px;
    color:#38444d;
    font-weight:bold;
}
button{
    margin-right:5px;
    text-indent: 0;
}

table caption, .title, .caption{
    background-color: #38444d;
    color: #fff;
    text-indent: 12px;
    font-weight: bold;
    padding:8px 0;
    font-size: 20px;
}
/*system*/

.pannelHeader {
    background-color:#38444d;
    text-indent:8px;
    height:30px;
    line-height:30px;
    color:#fff;
}

.errorInfo{
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 5px;
    color: red;
    margin-top: 5px;
    padding: 10px;
    text-indent: 12px;
}

/*meetingController*/
.tabWhite{
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: 0;
    padding:10px 20px;
    max-height: 900px;
    overflow-y: auto;
}

.list-group li, .currentAgenda{
    list-style-type:none;
    text-indent: 8px;
    /*height: 40px;*/
    line-height: 40px;
    border-bottom: 1px solid rgb(210,210,210);
    padding: 0 10px;
    overflow: hidden;
}

.divFilter{
    list-style-type:none;
    text-indent: 8px;
    /*height: 40px;*/
    line-height: 40px;
    border-bottom: 1px solid #000000;
    padding: 0 5px;
    overflow: hidden;
}

.footer{
    color: rgba(119,119,119,0.8);
    background-color:rgb(245,246,245);
    text-align: center;
    line-height: 50px;
}

.errorStatus{
    position: absolute;
    left: 40%;
    top: 100;
}
.list-bottom li{
     border-bottom: 0;
     line-height: 34px;
     position: relative;
     float: left;
 }
.liMember{
    cursor: default;
}
.liAgenda{
    cursor: default;
}
.text-member{
    margin: 0 10px;
}

#abc th {
    text-align: center;
}

#device td {
    text-align: center;
}

.fileFilter span{
    margin: 10px 10px;
    cursor: pointer;
}
.fileFilter p{
    margin-bottom: 0;
}

.warning{
    color: rgb(255, 0, 29);
    font-size: 13px;
}
#checkNone,#checkAlready{
    position: relative;
    float: left;
    top: 10px;
    left: 10px;
}
#dimension th{
   text-align: center;
}
#dimension{
    text-align: center;
}
#treeName{
    background-color: grey;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    height: 30px;
    line-height: 30px;
}
.enumName{
    width: 250px;
    margin-top: -42px;
    margin-left: 200px;
    position: relative;
}
.enumCode{
    width: 250px;
    margin-top: -43px;
    margin-left: 200px;
    position: relative;
}
.pattern{
    position: absolute;
    right: 100px;
    left: 100px;
    top: 100px;
    height: 700px;
    border: 1px solid #ddd;
}
.layout{
    position: absolute;
    left: 0;
    width: 35%;
    top: 70px;
    bottom: 0;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}
.window{
    position: absolute;
    left: 35%;
    width: 35%;
    top: 70px;
    bottom: 0;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}
.model{
    position: absolute;
    left: 70%;
    right: 0;
    top: 70px;
    bottom: 0;
    overflow-y: auto;
}
.Title{
    position: absolute;
    top: 0;
    height: 70px;
    background-color: rgba(111,111,111,1);
    color: #ffffff;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
    font-size: 25px;
}
.layTitle{
    left: 0;
    width: 35%;
    border-right: 1px solid #eee;
}
.winTitle{
    left: 35%;
    width: 35%;
    border-right: 1px solid #eee;
}
.modTitle{
    left: 70%;
    right: 0;
}
.span{
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 20px;
}
.key{
    margin-top: 10px;
    margin-bottom: 20px;
}
#pattern{
    text-align: center;
}
#pattern th {
    text-align: center;
}
#videoGroup{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    max-height: 500px;
}
#videoGroup .vGroup div{
    margin-bottom: 10px;
}
.v_remove{
    margin-top: 10px;
}
#selectType{
    position: absolute;
    width: 500px;
    height: 400px;
    border: 1px solid #ddd;
    top: 30px;
    left: 50px;
    box-shadow: 10px 10px 20px #555;
    z-index: 999;
    background-color: rgba(255,255,255,1);
}
#saveType{
    position: absolute;
    right: 10px;
    bottom: 5px;
}
#cancelType{
    position: absolute;
    left: 10px;
    bottom: 5px;
}
#selectType div{
    position: absolute;
    width: 400px;
    height: 300px;
    top: 20px;
    left: 50px;
    /*border: 1px solid #ddd;*/
    overflow-y: auto;
}
#selectType table{

}
